
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Franklin:wght@300&display=swap');

*{
  font-family: 'Libre Franklin', sans-serif;
  color: white;
}

:root{
  --cor1: #26333B;
  --cor2: #B3BB4E;
  --cor3: #FF5F5A;
  --cor4: #4394B1
}


body{
  background-color: rgb(235, 232, 232);
}

header{
  background-color: var(--cor1);
  margin: auto;
  max-width: 800px;
  min-width: 320px;
  height: 250px;
  
}

h1{
  
  color: white;
  padding: 0px;
}

p{
  text-align: justify;
}

#div-perfil{
  padding: 0% 20px;
  margin-left: 300px;
  padding: 20px;
}

#foto-perfil{
  width: 250px;
  margin-top: -200px;
  margin-left: 10px;
}

main{
  max-width: 800px;
  min-width: 320px;
  margin:auto;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
  
}

section{
  
}

.sub-div{
  display: inline-block;
  width: 30%;
}

#div-contato{
  width: 33%;
  display: inline-block;
  background-color: var(--cor3);
  margin-top: -30px;
  
  
}

#div-educacao{
  display: inline-block;
  background-color: var(--cor4);
  margin: -4px;
  padding-top: 23px;
  width: 35%;
}

#div-experiencia{
  display: inline-block;
  background-color: var(--cor2);
  margin: -4px;
  padding-top: 23px;
  width: 261px;
}
h3{
  text-align: center;
  
}